@font-face {

    font-family: 'font_R';

    src: url('../fonts/DroidSansArabic.eot');

    src: url('../fonts/DroidSansArabic.woff2') format('woff2'),

        url('../fonts/DroidSansArabic.woff') format('woff'),

        url('../fonts/DroidSansArabic.ttf') format('truetype'),

        url('../fonts/DroidSansArabic.svg#DroidSansArabic') format('svg'),

        url('../fonts/DroidSansArabic.eot?#iefix') format('embedded-opentype');

    font-weight: normal;

    font-style: normal;

}
a {color: #fff}
.clear {clear: both;}

body {font-family: 'font_R'; font-size: 20px;}

.navbar-brand {padding: 0;}

.navbar-default {border-bottom: 4px solid #ca2d7e;}

.navbar-nav>li a {font-size: 20px;}

.navbar-header {margin-left: 11px !important;}

.icon-background { color: #451722; }

.custom_social { color: #fff; font-size: 14px;display: block; margin: 5px 0 0 0; float: left}

.circle-icon { background: #fff; width: 100px; height: 100px; border-radius: 50%; text-align: center; line-height: 100px; vertical-align: middle; padding: 30px; }

.fa-pinterest-p:before {content: "\f231";}





.header_social { width: 250px; margin: auto; float: none; }

.header_wrap {padding: 5%;}

.header_wrap h1 {color: #999999;}

.header_wrap h1:nth-child(2) { margin-top: 0; }

.header_wrap h2 {color: #95ac21;font-size: 24px; margin: 0 0 6px 0}

.header_wrap2 {padding-top: 10%;}

.header_wrap2 h1 {color: #fff;font-size: 50px;}
.header_wrap2 h3 {color: #fff;font-size: 30px;}



.one_box_title { background: #e92e94; padding: 14px 0; color: #fff; }

.one_box_title h1 {margin: 0; font-size: x-large;}

#section_boxs .col-md-4 {padding-bottom: 30px;}

#BigBgSection {text-align: center;}

#BigBgSection h1 {color: #95ac21;font-size: 45px;margin-bottom: 24px;}

#BigBgSection p { color: #fff; font-size: 38px; width: 82%; line-height: 46px; margin: auto; margin-bottom: 30px;}

.Reg_Big_sec { font-size: 25px !important; float: none !important; width: 215px !important; display: block; padding: 12px 24px; margin: auto auto 24px auto !important; }

#home-page-register-btn{
    min-width: 244px !important;min-height: 59px !important;
}

/*vote Section*/

#hottestVotes { background: #f7f7f7; margin-top: 0px; padding-top: 40px; padding-bottom: 40px; }

#hottestVotes h1 {color: #e83193;font-size: 45px;margin-bottom: 24px;}

#hottestVotes h1 i {margin-left: 10px;}

.one_vote {background: #fff;-webkit-box-shadow: 0px 2px 14px -1px rgba(0,0,0,0.44);-moz-box-shadow: 0px 2px 14px -1px rgba(0,0,0,0.44);box-shadow: 0px 2px 14px -1px rgba(0,0,0,0.44);    margin-bottom: 24px;}

.one_vote h3 {color: #e83193; font-size: 20px; max-height: 28px; overflow: hidden; padding: 5px;}

.one_vote img {width: 100%;    min-height: 230px; max-height: 230px;}

.stars {width: 136px;margin: auto;}

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0px; }

input[type="radio"], input[type="checkbox"] { margin: 4px 0px 0px; line-height: normal; }

label.star { float: right; padding: 5px; font-size: 18px; color: #444; transition: all .2s; }

input.star:checked~label.star:before {
    content: '\f005';
    color: #feb100;
    transition: all .25s;
}

label.star:before { content: '\f005'; color: #444; font-family: 'FontAwesome'; }

input.star { display: none; }

.voteAddress h2 { margin: 0; font-size: 20px; color: #a90031;margin: 5px 0 0 0;}

.voteAddress_num {margin-top: 12px; font-family: cursive;}

.voteAddress p {color: #a90031; font-size: 16px;}

.user_social { width: 130px; margin: auto; padding: 12px 0 24px 0; }

.user_social a { font-size: 12px; }

.bookNowBtn { border: none; background: #e92e94; padding: 6px 27px; border-radius: 10px; color: #fff;}

/*vote Section*/



/*searchResult*/

#searchResult {padding-top: 40px;padding-bottom: 40px;background: #ebebea}

input[type=checkbox] { display: none; }

input[type=checkbox] + label { position: relative; height: 21px; width: 22px; display: block; border-radius: 6px; transition: box-shadow 0.4s, border 0.4s; border: solid 5px #FFF; box-shadow: 0 0 1px #FFF; cursor: pointer; border: 1px solid #9a9a9a;     float: right;}

input[type=checkbox]:checked + label:after { content: '\2714'; height: 1em; position: absolute; top: 0px; left: 0; bottom: 0; right: 0; margin: auto; color: #fff; line-height: 19px; font-size: 12px; text-align: center; background: #d8002b; width: 100%; height: 100%; border-radius: 5px;     font-weight: normal;}

.result_filter {background: #fff; margin-bottom: 24px; padding-bottom: 10px;border-radius: 0 0 7px 7px;}

.result_filter_head {border-bottom: 1px solid #eee;padding: 3px 11px;}

.result_filter_head p {float: right;color: #e92e94; font-size: 20px;}

p.select_all {float: left; font-size: 14px; text-decoration: underline;cursor: pointer;}

.checkbox_name { float: right; font-size: 15px; color: #451722; font-weight: normal; margin-right: 10px; }

.checkedRow {    margin: 12px;}

.right_filter {float: right;}

.left_filter {float: left;}

.left_filter span { font-size: 17px; font-family: cursive; }

.pagination>li>a, .pagination>li>span { border-radius: 50% !important;margin: 0 5px;}

/*searchResult*/



/*register*/

.page_title {text-align: right;color: #451722}

.page_title i {margin-left: 10px;}

.page_desc { text-align: right; font-size: 20px; font-weight: normal; width: 90%; margin-right: 2%; color: #e92e94; }

.user_data {text-align: right; width: 80%; margin: 60px auto 40px auto;}

.user_data h1 {color: #e92e94;margin-bottom: 24px;}

.user_data img {margin-bottom: 40px;}

.form-group label {color: #e92e94; font-size: 22px;}

.form_data {width: 80%; margin: auto;}

.form_data input { height: 45px; background: #f6f7fa; border: 1px solid #cbcbcd; }

.input-group.input-group-unstyled input.form-control { -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; }

.input-group-addon {padding: 4px 12px;color: #fff; font-size: 10px;}

.input-group-unstyled .input-group-addon { border-radius: 4px; border: 0px; background-color: transparent; }

.input-group-unstyled {margin-bottom: 12px;}

.input-group-unstyled input {direction: ltr;}


#upload input { opacity: 0; position: absolute; top: 0; left: 0; }

#upload { position: relative; }
.register_btn {cursor: pointer;}
.register_btn:focus { outline: none; }
.popover.bottom { z-index: 9999; position: fixed; background: #e92e94; border: none; }
.popover.bottom a {    padding: 5px; text-align: center; font-size: 17px !important; background: white; color: #e92e94; margin-bottom: 12px !important;}
.popover.bottom a:nth-last-child(1) {margin-bottom: 0 !important;}

.file_button_container {cursor: pointer;position: relative;}

.portofolio {text-align: left;}

.registerInput { padding: 8px 27px; background: #e92e94 !important; border-radius: 7px; color: #fff; font-size: 23px; height: 60px !important; }

/*register*/





/*profile*/

.user_profile {width: 100%; margin: 60px auto 0 auto;}

.profile_img { width: 250px; height: 250px; border-radius: 50%; margin: auto; }

.page_title_center {text-align: center;color: #451722}

.page_title_center i {margin-left: 10px;}

.userProfile { padding-top: 24px; position: relative; -webkit-box-shadow: 0px 2px 14px -1px rgba(0,0,0,0.44); -moz-box-shadow: 0px 2px 14px -1px rgba(0,0,0,0.44); box-shadow: 0px 2px 14px -1px rgba(0,0,0,0.44); margin-bottom: 40px; }

.edit_profile { position: absolute; top: 10px; left: 10px; color: #fff; font-size: 14px; }

.p_title {color: #e92e94; font-size: 20px; text-align: right;}

.p_desc {color: #451722; font-size: 18px; margin-right: 2%;text-align: right;}

.profile_fields {margin-bottom: 30px;}

.unstyled_new {width: 45%; margin-bottom: 0;}

.unstyled_new p {text-align: left}

.updateInput { padding: 9px 41px; background: #d8002b !important; border-radius: 7px; color: #fff; margin-bottom: 24px; height: 47px !important; border: none; }

.custom_table {margin-top: 30px;}

.table_row {margin-bottom: 24px;}

.row_right { -webkit-box-shadow: 0px 2px 14px -1px rgba(0,0,0,0.44); -moz-box-shadow: 0px 2px 14px -1px rgba(0,0,0,0.44); box-shadow: 0px 2px 14px -1px rgba(0,0,0,0.44); width: 85%;float: right;}

.row_left { width: 13%; margin-right: 2%;float: left;}

.one_row_column { color: #451722; float: right; font-size: 18px; margin: 0; padding: 15px 5px; }

.one_row_column:nth-child(1) {width: 40%; margin-left: 2%;border-left: 1px solid #d3d4da}

.one_row_column:nth-child(2) {width: 28%; margin-left: 2%;border-left: 1px solid #d3d4da}

.one_row_column:nth-child(3) {width: 28%;}

.close_btn { cursor: pointer; }

.close_btn span{ display: block; color: #751414; font-size: 15px; margin-top: 4px; }

/*profile*/



/*dashboard*/

.dashboard_imgs { width: 15.83333333333333%; float: right; margin-left: 1%; margin-bottom: 1%; }

.dashboard_imgs img { width: 100%;}

.dashboard_imgs:nth-child(6n+6) {margin-left: 0}

/*dashboard*/

/*m7moud*/
/*dashboard*/
.pimages-ul{list-style: none;}
.plus-i{background: #451722; border-radius:50px; color: #fff;line-height: 50%; font-size: 50px;height: 100%;}
.pimages-li{width: 21%;float: right; margin-left: 1%; margin-bottom: 1%;}
.portfolyoimages{display: table;border-collapse: separate;margin-bottom: 30px;}
.statisticpage{position: relative;-webkit-box-shadow: 0px 2px 6px -1px rgba(0,0,0,0.44);-moz-box-shadow: 0px 2px 6px -1px rgba(0,0,0,0.44);box-shadow: 0px 2px 6px -1px rgba(0,0,0,0.44);margin-bottom: 40px;margin-top: 30px;}
.statistic-content{border-left:1px solid #d0d1d8;padding: 7px 0;}
.statistic-num{color: #d8002b;}
.statistic-text{color: #451722;}
.chart-area{border: 1px solid #e5e6eb;box-sizing: border-box;width: 98%;margin: auto !important;float: none;clear: both;padding: 0 !important}
#line-chart{padding: 35px;}
.upload-btn{float: right;width: 12%;display: block;height: 50px;margin-top: 45px;}
/*end-dashboard*/

/*login*/
.login-page{float: none; clear: both; margin: auto;text-align: right;}
.login-page label{float: right;}
.forget-password8{padding-bottom: 10px;}
.forget-password{color: #451722;clear: both;text-decoration: underline;font-size: 16px;}
.new-register{padding: 30px 0;}
.new-register .col-md-6:nth-child(2){text-align: center;}
.new-register p{color: #000;}
/*end-login*/

/*profile*/
.work-pro h1{color:#d8002b;text-align: center;}
.work-pro-ma{padding: 0; margin: 0;}
.work-pro-ma img{width: 100%;}
.contact-with-her{position: relative;-webkit-box-shadow: 0px 2px 6px -1px rgba(0,0,0,0.44);-moz-box-shadow: 0px 2px 6px -1px rgba(0,0,0,0.44);box-shadow: 0px 2px 6px -1px rgba(0,0,0,0.44);margin-bottom: 40px;margin-top: 30px;}
.contact-with-her h1{color:#d8002b;text-align: center;}
.cwh-6{margin-bottom: 25px;margin-top: 20px;}
.rate-her h3{color: #d8002b;text-align: center;}
.map-border{border-top:2px solid #d8002b; border-bottom:2px solid #d8002b; min-height: 450px;}
#map {height: 400px;width: 100%;}
.work-pro{margin-bottom: 24px;}
.work-pro:last-child{margin-bottom: 0px;}
.loadmore-btn{clear: both;text-align: center;}
.work-pro .fancybox-buttons{width: 25%; float: right;}
.work-pro .fancybox-buttons img{width: 100%;}
.work-pro .fancybox-buttons:nth-child(5n+1){width: 49.6%; float: right;}
/*end-profile*/
/*search-home*/
.select-question {color: #aaa;overflow: hidden;position: relative;width: 100%;margin-bottom: 12px;border-radius: 4px;}
.select-icon {position: absolute;top: 41%;left: 0;background: url("../img/arrow_03.png") no-repeat;width: 17px;height: 10px;}
.select-question-small {-webkit-appearance: none;border-width: 0;box-sizing: border-box;float: left;font-size: 13px;width: 85%;-webkit-appearance: none;-moz-appearance: none;appearance: none;color: #ca2d7e;height: 28px;border-radius: 4px;background: #fff;}
.select-question-small:focus {outline: none}
.white-background{background: #fff;margin-left: 0.3%;height: 80px;    width: 17%;}
.white-background:nth-child(4){width: 25%;}
.col-md-3.white-background{margin: 0;}
.p-white-bg{text-align: right;}
.fa-map-marker{color: #ca2d7e;float: right;}
.fa-t5sos{color: #dc1b41;float: right;}
.fa-t5sos img{max-width: 16px;}
.green-background{ background: #e92e94; height: 80px; line-height: 80px; border-top-left-radius: 10px; border-bottom-left-radius: 10px; }
.done-search{}
.col-md-3 .p-white-bg{margin-bottom: 5px;}
.white-background .form_data input {height: 35px; border-radius: 30px;}
.green-background input{color: #fff;border: none;outline: none;background: no-repeat; float: right}
.green-background i { color: #fff; float: right; line-height: 80px; margin-left: 10px; margin-right: 23%; }
/*search-home*/
/*m7moud*/





.register_btn { padding: 8px 14px; background: #e92e94; border-radius: 7px; float: left; color: #fff; font-size: 16px;margin: 5px 0 0 20px; }

.footer_links {text-align: center;}

.footer_links a {float: right; width: 50%;}

.footer_logo {text-align: left;display: block;}

.footer_pad_top {padding-bottom: 24px}

.footer_pad_bottom {padding-top: 24px;border-top: 1px solid #504041;}

.footer_powered {text-align: left; text-align: center;font-family: monospace;}

.wrapper {
    margin: auto;
    max-width: 1580px;
    padding: 100px 170px 0 170px;
    position: relative;
}
.fakeContainer {
    position: relative;
    top: 0px;
    z-index: 0;
    width: 100%;
    padding: 0px;
    max-width: inherit;
}
.leaderboard div { text-align: center; width: 100%; max-width: 728px; margin: auto; }
.TORight, .TOLeft { position: absolute; width: 160px; height: 600px; max-width: 160px; overflow: hidden; }
.TORight { right: -170px; }
.TORight_float { float: right; position: static!important; margin-right: -170px; }
.TOLeft { left: -170px; }
.TOLeft_float { float: left; position: static!important; margin-left: 170px; }

@media (max-width: 992px) {

    #footerwrap .col-md-4 {text-align: center;}

    .footer_links a {float: none}

    .footer_logo {text-align: center;}

    .header_wrap { margin-top: 5%; padding: 10%;background: rgba(255, 255, 255, 0.7);}
    .white-background {width: 100% !important}
    .white-background:nth-child(3) {margin-bottom: 10px;}
    .white-background:nth-child(4){margin-bottom: 10px; height: 95px}
    .green-background {height: 50px;line-height: 50px;border-radius: 0; margin-bottom: 24px;}
    .green-background i {line-height: 50px;margin-left: 10px;margin-right: 43%;}
}



@media (max-width: 800px) {
    .work-pro .fancybox-buttons:nth-child(5n+1){width: 100%;margin-bottom: 2%;display: table;}
    .work-pro .fancybox-buttons ,.work-pro .fancybox-buttons{width: 49%;float: right;margin-left: 2%;margin-bottom: 2%;}
    .work-pro .fancybox-buttons:nth-child(3n+0){margin-left: 0%;}
    .work-pro .fancybox-buttons:nth-child(5n+0){margin-left: 0%;}
    .work-pro-ma img{width: 100%;}
    .loadmore-btn{margin-top: 24px;}
}



@media (max-width: 1060px) {
.TORight, .TOLeft { display: none; }
.wrapper {padding: 100px 0 0 0;width: 100%;}
.leaderboard div {width: 96%;}
#headerwrap {padding-top: 0px !important;}
}

@media (min-width: 768px) {

    .header_social {  width: auto;float: left;}

    .custom_social {font-size: 16px;}

    .register_btn {margin: 5px 0 0 30px;}

    #section_boxs .col-md-4 {width: 33.33333333%; float: right;}

}

@media (max-width: 767px) {
    #section_boxs .col-md-4 {width: 50%; float: right;}
    .wrapper {    padding: 130px 0 0 0;}
}

@media (max-width: 550px) {

    #section_boxs .col-md-4 {width: 100%; float: none;}

    #section_boxs .col-md-4 img {width: 100%;}

    .work-pro .fancybox-buttons {width: 100%;margin-bottom: 2%;display: table;}

}

@media (max-width: 400px) {

    /*.header_social {  display: none}*/

    .unstyled_new {width: auto;}

    .unstyled_new p {font-size: 14px}

}




@media (min-width: 1059px) {
    .container{width:100%}
}

@media (min-width: 1200px) {
    .nav-container {width: 1170px;}
}

@media (min-width: 992px) {
    .nav-container {width: 970px;}
}
